# Blog server configuration
# Author: Huoty <sudohuoty@gmail.com>

upstream blogsites {
    server 127.0.0.1:8000;
}

server {
    listen 80;
    listen [::]:80;

    server_name blog.konghy.cn;

    location ^~ /assets/ {
        root /home/server/blog/;

        if ($uri ~* /assets/data/*) {
            expires 30m;
            break;
        }

        if ($uri ~* /assets/(css|fonts|imgs|js)/*) {
            expires max;
            break;
        }
    }

    location ~* ^/(favicon\.ico|apple-touch-icon\.png) {
        rewrite (.*) /assets/imgs/$1;
        expires 24h;
    }

    location / {
        # 配置代理服务器
        proxy_pass http://blogsites;

        proxy_redirect off;

        # 重新定义传递给后端服务器的请求头
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Real-PORT $remote_port;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    access_log /home/huoty/logs/nginx-blog-access.log;
    error_log /home/huoty/logs/nginx-blog-access.err;
}
