<!--又在偷看源码啦？
Congratulations！
You've just open a treasure!
Yet no award for you……

-->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130856615-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-130856615-1');
    </script>


    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PW3MXPD');</script>
    <!-- End Google Tag Manager -->


    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.subtitle}}</title>

    <!--live2d function-->
    <script src="/assets/live2dw/lib/L2Dwidget.min.js"></script>
    <script>L2Dwidget.init({
        "pluginRootPath": "live2dw/",
        "pluginJsPath": "lib/",
        "pluginModelPath": "assets/",
        "tagMode": false,
        "debug": false,
        "model": {"jsonPath": "/assets/live2dw/assets/unitychan.model.json"},
        "display": {"position": "right", "width": 100, "height": 180, "hOffset": 60, "vOffset": -30,},
        "mobile": {"show": true, "scale": 0.1,},
        "log": false
    });</script>


    <meta name="keywords"
          content="{% if page.keywords %}{{ page.keywords | split: ' ' | join: ', ' }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="baidu-site-verification" content="fjE6fa4d3J"/>
    <meta name="author" content="{{ site.author }}">

    <link rel="Shortcut Icon" type="image/x-icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "
    /feed.xml" | prepend: site.baseurl }}">

    <link rel="stylesheet" type="text/css" href="{{ "
    /assets/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "
    /assets/css/pure-min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "
    /assets/css/grids-responsive-min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "
    /assets/css/style.css?v=1514870841" | prepend: site.baseurl }}">

    <!--use mathJax to edit formulas in LaTex grammar.-->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
              inlineMath: [['$','$']]
            }
          });



    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>


    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tongji.baidu.js"></script>

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PW3MXPD"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<div class="body_container">
    <div id="header">
        <div class="site-name">
            <h1 class="hidden">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            <a id="logo" href="/.">{{ site.title }}</a>
            <p class="description">{{ site.subtitle }}, hello there.</p>
        </div>
        <div id="nav-menu">
            {% for menu in site.menu %}
            <a href="{{ site.baseurl }}/{{ menu.directory }}"><i class="{{ menu.icon }}"> {{ menu.page }}</i></a>
            {% endfor %}
        </div>
        <script type="text/javascript">
            var menus = document.getElementById('nav-menu');
            var ishome = true;
            for (var i = 1; i < menus.childElementCount; i++) {
                var path = location.href;
                var current = path.startsWith(menus.children[i].href);
                if (current) {
                    menus.children[i].className = 'current';
                    ishome = false;
                    break;
                }
            }
            if (ishome) {
                menus.children[0].className = 'current';
            }
        </script>
    </div>

    <div id="layout" class="pure-g">
        <div class="pure-u-1 pure-u-md-3-4">
            <div class="content_container">
                {{ content }}
            </div>
        </div>

        <div class="pure-u-1-4">
            <div id="sidebar">
                {% include widgets/search_box_new %}

                {% include widgets/personlized_signature %}

                {% include widgets/category_list %}

                {% include widgets/star_post_list %}

                {% include widgets/codehub_list %}

                {% include widgets/link_list %}

                {% include widgets/post_toc %}
            </div>
        </div>
    </div>


    <div id="footer">
        Copyright &copy; 2015-<span id="cur_year"></span> <a href="https://www.oukohou.wang/">oukohou</a> - All Rights
        Reserved.
        Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a> @ <a
            href="https://github.com/oukohou/oukohou.github.io" target="_blank">Github.com</a>
        <script type="text/javascript">var cur_date = new Date();
        document.getElementById("cur_year").innerHTML = cur_date.getFullYear();</script>
        {% if site.beian %}
        <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/"> {{ site.beian }}.</a>
        {% endif %}
    </div>

    <a id="rocket" href="#top" class="show"></a>
    <script src="/assets/js/totop.js" type="text/javascript"></script>
</div>

<!--{% include plugins/baidu_push %}-->


</body>


</html>
