---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <i class="icon-post-date">{{ page.date | date: "%b %-d, %Y" }}</i>
            </time>
            {% if page.categories.size > 0 %} |
            <span class="post-category">
            <i class="icon-post-category">
            {% for page_category in page.categories %}
                <a href="{{ site.baseurl }}/category/#{{ page_category }}">{{ page_category }}</a>
            {% endfor %}
            </i>
        </span> {% endif %} {% if page.tags.size > 0 %} |
            <span class="post-tag">
            <i class="icon-post-tag">
            {% for page_tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ page_tag }}">{{ page_tag }}</a>
            {% endfor %}
            </i>
        </span>{% endif %}


            <!-- Vercount 阅读量统计 -->
            <span class="post-meta-divider">|</span>
            <span class="post-meta-item-text">阅读量 </span>
            <span id="vercount_value_page_pv{{ page.url | replace: '/', '_' | replace: '.html', '' }}"></span>
        </p>

    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div id="donate" >
        <a href="/donate/" style="text-decoration: none" title="点击直达打赏页面～" >
            <button>客官~对小店满意的话，<mark>赏个铜板</mark>再走啊🐼</button>
        </a>
    </div>


    <div class="post-nav">
        {% if page.previous %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="pre"><i class="icon-post-pre"> {{
            page.previous.title }}</i></a>
        {% endif %} {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseur }}" class="next">{{ page.next.title }} <i
                class="icon-post-next"></i></a>
        {% endif %}
    </div>


<!--    &lt;!&ndash;valine comment function&ndash;&gt;-->
<!--    <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>-->
<!--    <script src="//unpkg.com/valine/dist/Valine.min.js"></script>-->

<!--    <p><br/>既已览卷至此，何不品评一二：</p>-->
<!--    <div id="valine_comment" class="fb_comments_container"></div>-->
<!--    <script>-->
<!--        var notify = '{{site.valine.notify}}' === true;-->
<!--        var verify = '{{site.valine.verify}}.>' === true;-->
<!--        var visitor = '{{site.valine.visitor}}.>' === true;-->

<!--        new Valine({-->
<!--            av: AV,-->
<!--            el: '#valine_comment',-->
<!--            notify: notify,-->
<!--            verify: verify,-->
<!--            // smiles_url: '/smiles',-->
<!--            visitor: true,-->
<!--            app_id: '{{site.valine.app_id}}',-->
<!--            app_key: '{{site.valine.app_key}}',-->
<!--            placeholder: '{{site.valine.placeholder}}',-->
<!--            avatar: '{{site.valine.avatar}}',-->
<!--        });-->
<!--    </script>-->

    <!--giscus 评论插件-->
<!--https://github.com/settings/installations/47603379-->

<div class="container">
  <div class="row">
    <div class="col col-12">
      <script src="https://giscus.app/client.js"
        data-repo="oukohou/image_gallery"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxODg5ODYzOTY="
        data-category="General"
        data-category-id="DIC_kwDOC0O0HM4CdbSz"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_protanopia"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
        </script>
    </div>
  </div>
</div>

<!--<script src="https://giscus.app/client.js"-->
<!--        data-repo="oukohou/image_gallery"-->
<!--        data-repo-id="MDEwOlJlcG9zaXRvcnkxODg5ODYzOTY="-->
<!--        data-category="General"-->
<!--        data-category-id="DIC_kwDOC0O0HM4CdbSz"-->
<!--        data-mapping="pathname"-->
<!--        data-strict="1"-->
<!--        data-reactions-enabled="1"-->
<!--        data-emit-metadata="0"-->
<!--        data-input-position="top"-->
<!--        data-theme="light_protanopia"-->
<!--        data-lang="zh-CN"-->
<!--        crossorigin="anonymous"-->
<!--        async>-->
<!--</script>-->


</article>
